.skyrimText {
    color: rgba(157, 158, 158, 0.75);
    margin: auto;
    max-width: 320px;
    text-align: center;
    font-size: calc(1.6 * var(--dbo-vw));
    overflow-wrap: anywhere;
    span {
        max-width: 320px;
    }
}
